<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Yorimichi</title>
</head>

<body>

  <div th:fragment="footer">
    <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col l8 s12">
            <h5>Yorimichiとは？</h5>
            <p class="white-text">ちょっとできた空き時間 に ふらっと寄れるイベント を見つける イベント検索サービスです</p>
          </div>
          <div class="col l1 s12">
          </div>
          <div class="col l3 s12">
            <h5>Connect</h5>
            <ul>
              <li><a href="https://twitter.com/yorimichi_jp" target="_blank"><i class="fab fa-twitter-square fa-3x"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
      <div class="container">Made by @namihira-k</div>
      </div>
    </footer>
  </div>
  

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js">
  </script>

</body>

</html>