<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{common/layout}">

<head>
</head>

<body>
  
  <div layout:fragment="content">
	  <div class="container row">
      <form class="col s12 m8 offset-m2" id="eventadd" action="post">
        <h4>イベント登録</h4>
        <div class="card-panel red lighten-5 red-text" v-if="isError">
          <span>イベント登録に失敗しました</span>
        </div>
  			<div class="input-field">
          <input id="name" type="text" class="validate" v-model="event.name">
          <label for="name">イベント名</label>
        </div>
        <h5>場所</h5>
        <div class="row">
		      <div class="col s6">
            <label for="prefecture">都道府県</label>
		        <select id="prefecture" class="browser-default" v-model="prefecture.code" v-on:change="getStations">
   		        <option value="" disabled selected>都道府県を選んでください</option>
		          <option v-for="p in prefectures" v-bind:value="p.code">{{ p.name }}</option>
				    </select>
		      </div>
		      <div class="col s6">
            <label for="station">最寄り駅</label>
		        <select id="station" class="browser-default" v-model="event.stationCode">
		          <option value="" disabled selected>最寄り駅を選んでください</option>
              <option v-for="s in stations" v-bind:value="s.code">{{ s.name }}</option>
            </select>
		      </div>
	      </div>
        <div class="input-field">
          <input id="place" type="text" class="validate" v-model="event.place">
          <label for="place">建物 / 会場</label>
        </div>
        <h5>開始日時</h5>
        <div class="row">
	        <div class="input-field col s6">
	          <input id="startDate" class="datepicker" type="text">
	          <label for="startDate">開始日</label>
	        </div>
	        <div class="input-field col s6">
	          <input id="startTime" class="timepicker" type="text">
	          <label for="startTime">開始時刻</label>
	        </div>
	      </div>
	      <h5>終了日時</h5>
	      <div class="row">
          <div class="input-field col s6">
            <input id="endDate" class="datepicker" type="text">
            <label for="endDate">終了日</label>
          </div>
          <div class="input-field col s6">
            <input id="endTime" class="timepicker" type="text">
            <label for="endTime">終了時刻</label>
          </div>
	      </div>
				<h5>詳細</h5>
				<div class="row">
					<div class="input-field col s12">
						<textarea id="content" class="materialize-textarea" data-length="2024" v-model="event.content"></textarea>
						<label for="content">自由記述（改行できます）</label>
					</div>
				</div>
        <button class="btn waves-effect waves-light" v-on:click.prevent="post">登録する<i class="material-icons right">send</i>
        </button>
      </form>
	  </div>
  </div>

  <div layout:fragment="javascript">
    <script th:src="@{/js/eventadd/script.js}"></script> 
    <script type="text/javascript">
      $('textarea#content').characterCounter();
    </script>    
  </div>
  
</body>

</html>