<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{common/layout}">

<head>



</head>

<body>
  <div layout:fragment="content">
	  <div class="section no-pad-bot" id="index-banner">
	    <div id="app-banner" class="container">
	      <h1 class="header center orange-text">Yorimichi</h1>
	      <div class="row center">
	        <h5 class="header col s12 light">ふらりとちょっとどこかに寄っていきたい</h5>
	      </div>
	      <div class="row center">
	        <a th:href="@{/view/eventlist}" id="download-button" class="btn-large waves-effect waves-light orange">ふらっと寄れるイベント</a>
	      </div>
	    </div>
	  </div>

	  <div class="container">
      <div class="section">
        <h5 class="center">例えば</h5>
        <div class="row">
          <h6 class="center">東京のイベント</h6>
          <div class="col s12 m2 offset-m5">
            <div class="collection">
              <a th:href="@{/view/eventlist?prefectureCode=13&lineCode=113&stationCode=22741}" class="collection-item url-content center">新宿</a>
              <a th:href="@{/view/eventlist?prefectureCode=13&lineCode=113&stationCode=22715}" class="collection-item url-content center">渋谷</a>
              <a th:href="@{/view/eventlist?prefectureCode=13&lineCode=113&stationCode=22492}" class="collection-item url-content center">秋葉原</a>
            </div>
          </div>
        </div>
      </div>
	  
	    <div class="section">
	      <div class="row">
	        <div class="col s12 m4">
	          <div class="icon-block">
	            <h2 class="center light-blue-text"><i class="large material-icons">access_time</i></h2>
	            <h5 class="center">空き時間ができた</h5>
	          </div>
	        </div>
	        <div class="col s12 m4">
	          <div class="icon-block">
	            <h2 class="center light-blue-text"><i class="large material-icons">directions_walk</i></h2>
	            <h5 class="center">いつもと違う場所</h5>
	          </div>
	        </div>
	        <div class="col s12 m4">
	          <div class="icon-block">
	            <h2 class="center light-blue-text"><i class="large material-icons">favorite</i></h2>
	            <h5 class="center">好きなイベント</h5>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
  </div>

</body>

</html>