<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{common/layout}">

<head>  
</head>

<body>
  <div layout:fragment="content">
	  <div class="container">
			<h4>イベント一覧</h4>
			<div class="row">
				<div class="col s12 m3">
		      <div class="card">
		        <div class="card-content">
		          <h5>検索</h5>
	            <h6>日にち</h6>
	            <div class="input-field">
	              <input id="startDate" class="datepicker" type="text">
	              <label for="startDate">開催日</label>
	            </div>
	            <h6>場所</h6>
              <label for="prefecture">都道府県</label>
              <div class="input-field">
	              <select id="prefecture" class="browser-default" v-model="prefectureCode" v-on:change="getStations">
	                <option v-for="p in prefectures" v-bind:value="p.code">{{ p.name }}</option>
	              </select>
              </div>
              <label for="station">最寄り駅</label>
              <div class="input-field">
	              <select id="station" class="browser-default" v-model="stationCode">
	                <option v-for="s in stations" v-bind:value="s.code">{{ s.name }}</option>
	              </select>
              </div>
		          <div class="center-align">
		            <button class="btn waves-effect waves-light center" v-on:click.prevent="getEvents">絞り込む<i class="material-icons right">search</i></button>
		          </div>
		        </div>
		      </div>
				</div>
				
	      <div class="col s12 m9">
		      <div class="row" v-if="!events.length">
		        <div class="col s12">
		          <div class="card-panel red lighten-5">
		            <span>イベント情報はありません</span>
		          </div>
		        </div>
		      </div>
		      <div class="row">
		        <div class="col s12 m6" v-for="event in events">
              <div class="card sticky-action">
		            <div class="card-content">
		              <span class="card-title activator">{{ event.name }}<i class="material-icons right">more_vert</i></span>
	                <p>最寄り駅：{{ event.stationCode }}</p>
	                <p>開始：{{ event.startDateTime }}</p>
	                <p>終了：{{ event.endDateTime }}</p>
                </div>
								<div class="card-reveal light-blue lighten-1 white-text">
									<span class="card-title">{{ event.name }}<i class="material-icons right">close</i></span>
									<p>xxxxxx</p>
								</div>
		          </div>
		        </div>
		      </div>
	      </div>
			</div>
	  </div>
  </div>

  <div layout:fragment="javascript">
    <script th:src="@{/js/eventlist/script.js}"></script> 
  </div>


</body>

</html>