.textarea {
  word-wrap: break-word;	
	white-space: pre-wrap;
  display: block;	
}

.text-small {
	font-size: 12px;
}

.url-content a {
  color: inherit;
  text-decoration: underline;
}

.fab {
  color: grey;
}

.fab:hover {
  color: #1da1f2;
}

.ad {
	margin: 10px;
}

hr {
  border-style: none;
  border-top: 1px solid grey;
}

i {
  display: inline-block;
  position: relative;
  top: 5px;	
}

.circle-icons {
  display: inline-block;
  position: relative;
	top: 0px;
}

#app-banner {
  padding: 100px 0px;	
}

footer {
  margin: 150px 0px 0px;
}
