.textarea {
  word-wrap: break-word;	
	white-space: pre-wrap;
  display: block;	
}

.text-small {
	font-size: 12px;
}

 .url-content a {
  color: inherit;
  text-decoration: underline;
}

.fab {
  color: grey;
}

.fab:hover {
  color: #1da1f2;
}

.ad {
	margin: 10px;
}

hr {
  border-style: none;
  border-top: 1px solid grey;
}

footer {
  margin: 100px 0px 0px;	
}
