.textarea {
  white-space: pre;
}

.text-small {
	font-size: 12px;
}

.line-break {
	word-wrap: break-word;
	white-space: normal;
	display: block;
}

 .url-content a {
  color: inherit;
  text-decoration: underline;
}

.fab {
  color: grey;
}

.fab:hover {
  color: #1da1f2;
}

.ad {
	margin: 10px;
}

hr {
  border-style: none;
  border-top: 1px solid grey;
}

footer {
  margin: 100px 0px 0px;	
}
