<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{common/layout}">

<head>
</head>

<body>
  
  <div layout:fragment="content">
    <div class="container">
	    <div class="row">
	      <div class="col s10 offset-s2 m6 offset-m3">
          <div class="card-panel">
						<div class="card-panel red lighten-5 red-text" th:if="${param.error}">
  						<span>ユーザID か パスワード が間違っています</span>
						</div>
            <div class="card-panel green lighten-5 green-text" th:if="${param.logout}">
              <span>ログアウトしました</span>
            </div>
		        <h4>ログイン情報</h4>
	          <form th:action="@{/api/login}" method="post">
	            <div class="input-field">
	              <input id="userId" type="text" class="validate" name="userId">
	              <label for="userId">ユーザID</label>
	            </div>
	            <div class="input-field">
	              <input id="password" type="password" class="validate" name="password">
	              <label for="password">パスワード</label>
	            </div>
	            <div class="center-align">
                <button class="btn waves-effect waves-light" type="submit">ログイン<i class="material-icons right">send</i></button>
	            </div>
	          </form>
		      </div>
	      </div>
	    </div>	    
    </div>
  </div>

  <div layout:fragment="javascript">
<!-- <script th:src="@{/js/login/script.js}"></script>   -->
  </div>
  
</body>

</html>