<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">

<head>
  <meta name="twitter:title" th:content="${event?.name}" />
  <meta name="twitter:description" th:content="${event?.content}" />
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
      <h4><i class="material-icons small">place</i>イベント情報</h4>
      <div class="progress" v-if="isProcess">
        <div class="indeterminate"></div>
      </div>
      <div class="card-panel red lighten-5" v-if="!event">
        <span>イベントは終了しています</span>
      </div>
			<div class="card" v-bind:class="{ 'card-hot': isHot(event) }" v-if="event">
				<div class="card-content">
          <span class="card-title">{{ event.name }}</span>
					<div class="row">
						<div class="col s12 m2">
							<div v-for="p in prefectures">
								<div v-if="p.code == event.prefectureCode">
									<div class="text-small">都道府県</div>
									<div class="chip">{{ p.name }}</div>
								</div>
							</div>
						</div>
						<div class="col s12 m2">
							<div class="text-small">最寄り駅</div>
							<div class="chip">{{ event.stationName }}</div>
						</div>
            <div class="col s12 m8">
              <div class="text-small">建物 / 会場</div>
              <div class="chip">{{ event.place }}<a v-bind:href="'https://maps.google.co.jp/maps?q=' + encodeURI(event.place)" target=”_blank”> [場所]</a></div>
            </div>            
					</div>
					<hr>
					<div class="row">
						<div class="col s12 m3">
							<div class="text-small">開始</div>
							<div class="chip">{{ event.startDateTime }}</div>
						</div>
						<div class="col s12 m3">
							<div class="text-small">終了</div>
							<div class="chip">{{ event.endDateTime }}</div>
						</div>
					</div>
					<hr>
					<div class="row">
            <div class="col s12">
              <div class="chip orange darken-2 white-text" v-if="isToday(event.startDateTime)">本日開催！</div>
              <div class="chip orange darken-2 white-text" v-if="event.isFree">当日参加可！</div>
              <div class="chip orange darken-2 white-text" v-if="event.isFree">参加無料！</div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="text-small">詳細</div>
              <blockquote class="textarea">{{ event.content }}</blockquote>
              <div class="text-small">情報元</div>
              <div class="textarea url-content">{{ event.url }}</div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div v-if="!isRecommended">
                <button class="waves-effect waves-light btn-small pulse" v-on:click.once="recommend">みんなにおすすめする</button>
              </div>
              <div v-else>
                <button class="waves-effect waves-light btn-small disabled">おすすめしました</button>
              </div>
              <div class="text-small grey-text">「おすすめする」とホーム画面にこのイベント情報が表示されます</div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <a class="waves-effect waves-light btn-small modal-trigger" href="#modalShareText">テキストでシェアする</a>
              <div class="text-small grey-text right">{{ event.uuid }}</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="section">
        <h5><i class="material-icons">loyalty</i>おすすめのイベント</h5>
        <div class="row">
          <div class="col s12 m6" v-for="event in events">
            <div class="card sticky-action" v-bind:class="{ 'card-hot': isHot(event) }">
              <div class="card-content activator">
                <div class="row">
                  <div class="col m11">
                    <span class="card-title line-break">{{ event.name }}</span>
                  </div>
                  <div class="col m1">
                    <a class="btn-floating pulse right" v-bind:class="{ 'orange darken-2': isHot(event) }"><i class="material-icons circle-icons">menu</i></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col m12">
                    <span v-for="p in prefectures">
                      <span v-if="p.code == event.prefectureCode">
                        <span class="chip">{{ p.name }}</span>
                      </span>
                    </span>
                    <span class="chip">{{ event.stationName }}</span>
                    <span class="chip">{{ event.place }}<a v-bind:href="'https://maps.google.co.jp/maps?q=' + encodeURI(event.place)" target=”_blank”> [場所]</a></span>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col m6">
                    <div class="text-small">開始</div>
                    <div class="chip">{{ event.startDateTime }}</div>
                  </div>
                  <div class="col m6">
                    <div class="text-small">終了</div>
                    <div class="chip">{{ event.endDateTime }}</div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col m12">
                    <div class="chip orange darken-2 white-text" v-if="isToday(event.startDateTime)">本日開催！</div>
                    <div class="chip orange darken-2 white-text" v-if="event.isFree">当日参加可！</div>
                    <div class="chip orange darken-2 white-text" v-if="event.isFree">参加無料！</div>
                  </div>
                </div>
                <div class="text-small">情報元</div>
                <a v-bind:href="event.url" target="_blank">{{ event.url }}</a>
              </div>
              <div class="card-reveal teal white-text" v-bind:class="{ orange: isHot(event) }">
                <div class="row">
                  <div class="col s11">
                    <p class="textarea url-content">{{ event.content }}</p>
                    <p class="url-content right"><a v-bind:href="event.viewUrl">[シェアするためのページ]</a></p>
                  </div>
                  <div class="col s1">
                    <span class="card-title"><i class="material-icons">close</i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>

      <ins class="ad adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-1908478661707708"
           data-ad-slot="9337347168"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      
		</div>
		
	  <div id="modalShareText" class="modal">
	    <div class="modal-content" v-if="event">
	      <h6> <i class="material-icons">share</i>テキストをコピーしてシェアしてください</h6>
	      <div class="card-panel">
	        <p>【{{ event.startDateTime }}、{{ event.place }}】<br>{{ event.name }}<br>{{ event.viewUrl }}</p>
        </div>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a>
	    </div>
	  </div>
		
	</div>

	<div layout:fragment="javascript">
		<script th:inline="javascript">
			/*<![CDATA[*/
			var uuid = /*[[${uuid}]]*/'';
      var prefectureCode = /*[[${prefectureCode}]]*/'';
      var stationCode = /*[[${stationCode}]]*/'';
			/*]]>*/
		</script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

		<script th:src="@{/js/eventinfo/script.js}"></script>
	</div>

</body>

</html>