<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">

<head>
  <meta name="twitter:title" th:content="${event?.name}" />
  <meta name="twitter:description" th:content="${event?.content}" />
</head>

<body>
	<div layout:fragment="content">
		<div id="eventinfo" class="container">
      <h4>イベント情報</h4>
      <div class="progress" v-if="isProcess">
        <div class="indeterminate"></div>
      </div>
      <div class="card-panel red lighten-5" v-if="!event">
        <span>イベント情報はありません</span>
      </div>
			<div class="card" v-if="event">
				<div class="card-content">
          <span class="card-title">{{ event.name }}</span>
					<div class="row">
						<div class="col s12 m2">
							<div v-for="p in prefectures">
								<div v-if="p.code == event.prefectureCode">
									<div class="text-small">都道府県</div>
									<div class="chip">{{ p.name }}</div>
								</div>
							</div>
						</div>
						<div class="col s12 m2">
							<div class="text-small">最寄り駅</div>
							<div class="chip">{{ event.stationName }}</div>
						</div>
					</div>
          <div class="row">
            <div class="col s12">
		         <div class="text-small">建物 / 会場</div>
		         <div class="chip">{{ event.place }}</div>            
            </div>
          </div>
					<hr>
					<div class="row">
						<div class="col s12 m3">
							<div class="text-small">開始</div>
							<div class="chip">{{ event.startDateTime }}</div>
						</div>
						<div class="col s12 m3">
							<div class="text-small">終了</div>
							<div class="chip">{{ event.endDateTime }}</div>
						</div>
					</div>
					<hr>
					<div class="row">
            <div class="col s12">
              <div class="chip orange darken-2 white-text" v-if="isToday(event.startDateTime)">本日開催！</div>
							<div class="chip orange darken-2 white-text" v-if="event.isFree">参加無料＆観覧自由！</div>
						</div>
					</div>
          <div class="row">						
            <div class="col s12">
              <div class="text-small">詳細</div>
              <blockquote class="textarea">{{ event.content }}</blockquote>
              <div class="text-small">情報元</div>
              <p class="textarea url-content">{{ event.url }}</p>
              <div class="text-small grey-text right">{{ event.uuid }}</div>
            </div>
          </div>
				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="javascript">
		<script th:inline="javascript">
			/*<![CDATA[*/
			var uuid = /*[[${uuid}]]*/'';
			/*]]>*/
		</script>

		<script th:src="@{/js/eventinfo/script.js}"></script>
	</div>

</body>

</html>