<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{common/layout}">

<head>
</head>

<body>
  
  <div layout:fragment="content">
	  <div id="app" class="container row">
      <form class="col s12" action="post">
        <h4>ユーザー登録</h4>
        <p>ユーザー登録をしなくてもイベントは検索できます。ユーザー登録をすると以下のことができます。</p>
				<ul class="browser-default">
  				<li>イベントを登録できる（イベントを宣伝してみませんか？）</li>
				</ul>
				<div class="progress" v-if="isProcess">
				  <div class="indeterminate"></div>
				</div>
        <div class="card-panel red lighten-5" v-if="isError">
          <span>ユーザー登録に失敗しました</span>
        </div>
				<div class="row">
				  <div class="col s6 offset-s3">
				    <div class="card">
				      <div class="card-content">
  				      <span class="card-title">登録情報</span>
	              <div class="input-field">
	                <input id="name" type="text" class="validate" v-model="user.userId">
	                <label for="name">ユーザID</label>
	              </div>
	              <div class="input-field">
	                <input id="password" type="password" class="validate" v-model="user.password">
	                <label for="password">パスワード</label>
	              </div>
	              <div class="input-field">
	                <input id="email" type="email" class="validate" v-model="user.email">
	                <label for="email">メールアドレス</label>
	                <span class="helper-text" data-error="NG" data-success="OK"></span>
	              </div>
	              <label for="prefecture">都道府県</label>
	              <div class="input-field">
	                <select id="prefecture" class="browser-default" v-model="user.prefectureCode">
	                  <option value="" disabled selected>都道府県を選んでください</option>
	                  <option v-for="p in prefectures" v-bind:value="p.code">{{ p.name }}</option>
	                </select>
	              </div>
	              <div class="center-align">
	                <button class="btn waves-effect waves-light" v-on:click.prevent="post">登録する<i class="material-icons right">send</i>
	                </button>
	              </div>
				      </div>
	          </div>
				  </div>
        </div>
      </form>
	  </div>
	  	  
	  <!-- Modal Structure -->
	  <div id="modal" class="modal">
	    <div class="modal-content">
	      <h4 class="teal-text text-lighten-2"><i class="material-icons">check</i>登録しました</h4>
	      <h5>ユーザ名</h5>
	      <p>{{ user.userId }}</p>	      
        <h5>パスワード</h5>
        <p>{{ user.password }}</p> 
	    </div>
	    <div class="modal-footer">
	      <a th:href="@{/view/welcome}" class="modal-close waves-effect waves-green btn-flat">OK</a>
	    </div>
	  </div>
  </div>


  <div layout:fragment="javascript">
    <script th:src="@{/js/useradd/script.js}"></script> 
  </div>
  
</body>

</html>